# Black Litterman Model

In [23]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [128]:
#Recebe DF com preços e devolve retorno médio anual
def in_return_cov(df): 
    price = df.copy()
    price = (price / price.shift(1)) -1
    price.iloc[0,:] = 0 # Primeira linha = 0     
    
    returns = np.matrix(price)
    mean_returns = np.mean(returns, axis = 0)
    
    annual_returns = np.array([])
    for i in range(len(np.transpose(mean_returns))):
        annual_returns = np.append(annual_returns,(mean_returns[0,i]+1)**252-1)   

    cov = price.cov() 
    return (annual_returns, cov)

#Carrega tabela de preços
def load_prices(symbol, index, start_date, end_date):
    
    dates = pd.date_range(start_date, end_date)
    dfBase = pd.DataFrame(index = dates)
    
    dfIndex = pd.read_csv("C:/Users/A3/Desktop/Dados/{}.csv".format(index), index_col = "Date", parse_dates = True,
                     usecols = ['Date', 'Adj Close'], na_values=['nan'])
    dfIndex = dfIndex.dropna()
    dfIndex = dfIndex.rename(columns={'Adj Close': '{}'.format(index)})
    dfBase = dfBase.join(dfIndex, how = 'inner')
    
    
    for symbol in symbols:
        df_temp = pd.read_csv("C:/Users/A3/Desktop/Dados/{}.csv".format(symbol), index_col = "Date", parse_dates = True, 
                     usecols = ['Date', 'Adj Close'], na_values=['nan'])
        df_temp = df_temp.rename(columns={'Adj Close': symbol})
        dfBase = dfBase.join(df_temp)
    
    dfBase.fillna(method = "ffill", inplace = True) #Tratando dados 
    dfBase.fillna(method = "bfill", inplace = True)
    
    return dfBase.drop('IBOV',axis = 1) #Tiro o índice da tabela de preços...

#Calcula o retorno de um portfólio de ativos
def port_return(W,r):
    return sum(W*r)

#Calcula o peso inicial do portfolio dado o tamanho de mercado do papel
def mkt_weights(weights):
    return np.array(weights) / sum(weights)

#Calcula a matriz de retorno implicito
def implied_equilibrium_return(A, S, w):
    # A = Price of risk
    # S = Covarianve matrix
    # w = weights
    
    return (np.dot(A,np.dot(S,w)))

#Black Litterman Model
def expected_return(t,S,P,Q,PI):
    #t = tau - Medida de incerteza da estimativa dos retornos históricos
    # S = Covarianve matrix
    # P = Link matrix
    # Q = View matrix
    # PI = Return Matrix
    
    omega = np.dot(np.dot(np.dot(t, P), S),np.transpose(P)) #Matriz que incorpora a incerteza das observações
    passo_1 = np.linalg.inv(np.dot(t,S))
    passo_2 = np.dot(P.T, np.dot(np.linalg.inv(omega),P))
    fim_1 =  np.linalg.inv(passo_1 + passo_2)
    
    passo_3 = np.dot(passo_1,PI)
    passo_4 = np.dot(P.T, np.dot(np.linalg.inv(omega),Q))
    fim_2 = np.linalg.inv(passo_3 + passo_4)
    
    return np.dot(fim_1,fim_2)

In [129]:
start_date = '2006-01-01'
end_date = '2018-12-31'

In [130]:
symbols = ['ABEV3','BBAS3','GGBR4','ITSA4','ITUB4','PETR4','VALE3']
weights = [278.562, 137.299, 23.69, 116.46, 333.782, 350.272, 270.673]

In [131]:
precos = load_prices(symbols, 'IBOV', start_date, end_date)

In [132]:
assets_return , S = in_return_cov(precos)
assets_return

array([0.35214366, 0.25984275, 0.14825898, 0.27825301, 0.21132961,
       0.14726054, 0.20324718])

In [133]:
display(pd.DataFrame(S,columns = symbols,index = symbols))

          ABEV3     BBAS3     GGBR4     ITSA4     ITUB4     PETR4     VALE3
ABEV3  0.000337  0.000164  0.000157  0.000144  0.000161  0.000143  0.000164
BBAS3  0.000164  0.000761  0.000359  0.000406  0.000436  0.000425  0.000327
GGBR4  0.000157  0.000359  0.000811  0.000327  0.000326  0.000426  0.000498
ITSA4  0.000144  0.000406  0.000327  0.000997  0.000449  0.000347  0.000284
ITUB4  0.000161  0.000436  0.000326  0.000449  0.000518  0.000345  0.000311
PETR4  0.000143  0.000425  0.000426  0.000347  0.000345  0.000803  0.000408
VALE3  0.000164  0.000327  0.000498  0.000284  0.000311  0.000408  0.000745

In [134]:
W = mkt_weights(weights)

In [135]:
display(pd.DataFrame({'Annual Mean Return %': assets_return*100.00, 'Weight (based on market cap)': W}, index=symbols).T)

,ABEV3,BBAS3,GGBR4,ITSA4,ITUB4,PETR4,VALE3
Annual Mean Return %,35.214366,25.984275,14.825898,27.825301,21.132961,14.726054,20.324718
Weight (based on market cap),0.184388,0.090882,0.015681,0.077088,0.220940,0.231855,0.179166

In [136]:

PI = implied_equilibrium_return(1, S, W)
PI

array([0.00018871, 0.00038985, 0.00035978, 0.00037599, 0.0003592 ,
       0.00043382, 0.00038647])

In [141]:
Q = np.zeros((3,1))
Q[0,0] = 0.005
Q[1,0] = 0.01
Q[2,0] = 0.005

P = np.zeros((3,7))
P[0,5] = 1
P[0,6] = -1
P[1,2] = 1
P[1,0] = -1
P[2,1] = 1
P[2,3] = -1

In [138]:
t = 1 / len(precos)
expc_return = expected_return(t,S,P,Q,PI)
display(pd.DataFrame(expc_return))

,0,1,2,3,4,5,6
0,1.279643e+05,4.150171e+05,-1.277031e+05,-4.133192e+05,-2.746594,-5.837325e+04,5.641687e+04
1,-5.118163e+05,-2.073130e+06,5.189617e+05,2.032414e+06,9100.187004,4.933113e+05,-4.688404e+05
2,4.410954e+05,2.073013e+06,-4.402645e+05,-2.069211e+06,10646.165296,-6.249346e+05,6.096549e+05
3,-1.055677e+06,-4.441027e+06,1.044130e+06,4.441882e+06,-8929.688453,1.159150e+06,-1.139528e+06
4,-4.701640e+05,-1.837379e+06,4.659841e+05,1.842842e+06,-32284.659461,4.366294e+05,-4.056271e+05
5,3.119061e+05,1.608585e+06,-3.056258e+05,-1.661626e+06,88415.894294,-5.732760e+05,5.316216e+05
6,1.433223e+05,9.026807e+05,-1.368032e+05,-8.672544e+05,-20442.514773,-3.547458e+05,3.332430e+05